.contador {
    min-width: 160px;
    height: 152px;
    font-size: 110px;
    padding: 50px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-bottom: 15px;
}